<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Lab 01 Flask</h1>
      <p>This was a pretty interesting and rather not so easy Lab exersice. I am learing how to use python and flask. Its challenging but, but hopefully I can get it and then set it up on my machine.</p>
      <p> I also learned about Heroku a new cloud computing site.</p>
      <p>Making changes, had to do a new branch. Lets see if I can get this to work.</p>
    </div>
  </body>
</html>
